
/*! first line will be red */
p::first-line{
color: red;
}

/** we can set any content before or after any line */
p::before{
    content: "element fjkshfkhfkhfewiurhuor";
}


/*! Pseudo-Classes */
button{
    background-color: blueviolet;
    padding: 10px;
    color:teal;
    font-weight: 700;
    border-radius: 40%;
    cursor: pointer;
}
button:hover{
    background-color: yellow;
}
