#button{
    background-color: aquamarine;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#toast{
    width: 20%;
    margin: auto;
    display: flex;
    color: green;
    background-color: teal.500;
  
    height: 8vh;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
 position: absolute;

 left: 0;
 right: 0;
 display: none;
animation-name: travel;
animation-duration: 2s;
}

@keyframes travel{
0%{
    top: 0;

}

100%{
    top: 50%;
}
}